<html lang="en">
<head>
    <%- include('templates/header'); -%>
</head>
<body>
    <%- include('templates/navbar'); -%>

    <div style="width: 60%; position: relative;top: 150px;margin-left: 20%;">
        <h2 style="text-align: center;">Donación</h2>
        <p>
            Se parte de este movimiento sembrando tu granito de arena. <br><br>
            Cada familia recibirá una ayuda valorada en RD$1,000. con 16 articulos, entre estos los basicos.<br><br>
            Nuestro pais esta viviendo una fuerte situacion a causa de la pandemia que nos acomete, obligandonos a
            vivir en un estado de distanciamiento social. A causa de esto, muchas familias se ven perjudicadas, familias
            que viven del dia a dia.<br><br>
            Dado a la extension de la cuarentena, La promocion del Instituo Salesiano Don Bosco, Enexius 20, en
            conjunto con Don Bosco Fundacion Salesiana, se unen para llevar esperanza a esas familias que lo necesitan.
            tu puedes ser parte de este movimiento aportando, sin importar la cantidad o forma.<br><br>

        </p>
    </div>
    <%- include('templates/footer'); -%>

</body>
</html>