<section id="footer" class="bg-dark">
    <div class="container">
        <img src="/images/LogoEnexius.png" class="logo-brand" alt="logo">
        <ul class="list-inline">
            <li class="list-inline-item footer-menu"><a href="/"> Inicio</a></li>
            <li class="list-inline-item footer-menu"><a href="/nosotros"> Nosotros</a></li>
            <li class="list-inline-item footer-menu"><a href="/donacion"> Donaciones</a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.instagram.com/enexius20/"target="_blank"><i
                        class="icon ion-logo-instagram"></i></a></li>

        </ul>
        <small>© pagina creada por los estudiantes del tecnico de informatica</small>

    </div>
</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>