<!DOCTYPE html>

<head>
    <%- include('templates/header'); -%>
</head>

<body>
    <%- include('templates/navbar'); -%>

    <section id="hero">
        <div class="container">
            <div class="content-center topmargin-lg">
                <h1>Enexius 2020</h1>
                <p>90 corazones unidos por una misma causa</p>
            </div>
        </div>
    </section>

    <a id="Donaciones"></a>
    <div class="container-fluid">
        <div class="content-center"><br>
            <br>
            <img src="/images/corazon (3).png" class="logo-brand" alt="logo"> <br>
            <a href="/payment" class="btn btn-light topmargin-sm"> Dona aquí</a>-->
        </div>
    </div>


    <a id="Nosotros">
        <section id="nosotros" class="bg-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2><b>¿Quienes somos?</b></h2>
                        <p>Somos la promoción 20 del Instituto Salesiano Don Bosco, Enexius 20, 90 jóvenes unidos por un
                            mismo lema "Encargados de nuestro éxito". Nos identificamos con esta frase porque nos dimos
                            cuenta de que tendemos a culpar a los demás sobre todo lo que nos pasa, ignorando que
                            depende de
                            nosotros cómo vemos las adversidades que nos presenta la vida, si decidimos levantarnos o
                            estancarnos. </p>
                        <a href="/nosotros" class="btn btn-secondary mt-5">Leer más <i
                                class="icon ion-md-arrow-forward ml-2 alinf-middle"></i></a>
                    </div>
                    <div class="col-lg-5 offset-lg-1 d-flex">
                        <div class="aling-self-center">
                            <img src="/images/Enexius.jpg" class="img-fluid main-photo">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>

    <section id="contactanos">
        <div class="container">
            <div class="row">
                <div class="col-md-6 topmargin-sm">
                    <h3>Tienes alguna inquietud?<b>No dudes en contactarnos.</b></h3>
                    <p>Cualquier inquietud que tenga no se abstenga de comentarla, contectenos a nuestro
                        mail Enexius2020@hotmail.com.
                    </p>
                    <br>
                    <p>
                        ~ Si ayudo a una sola persona a tener esperanza, no habré vivido en vano ~ Martin Luther King
                    </p>
                </div>

            </div>
        </div>
    </section>

    <%- include('templates/footer'); -%>

</body>

</html>