<html lang="en">
<head>
    <%- include('templates/header'); -%>
</head>
<body>
    <%- include('templates/navbar'); -%>
   
    <div class="container">

        <div class="h4">CONOCENOS UN POCO MAS</div>
    </div>
    </div>

    <a id="Nosotros">
        <section id="nosotros" class="bg-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2><b>¿Quienes somos?</b></h2>
                        <p>Somos la promoción 20 del Instituto Salesiano Don Bosco, Enexius 20, 90 jóvenes unidos
                            por un mismo lema "Encargados de nuestro éxito". Nos identificamos con esta frase porque
                            nos dimos cuenta de que tendemos a culpar a los demás sobre todo lo que nos pasa,
                            ignorando que depende de nosotros cómo vemos las adversidades que nos presenta la vida,
                            si decidimos levantarnos o estancarnos. </p>

                        <br>


                        <h2><b>Nuestra causa</b></h2>
                        <p>Nuestro país está viviendo una fuerte situación a causa de la pandemia que nos acomete,
                            obligándonos a
                            vivir en un estado de distanciamiento social. A causa de esto, muchas familias se ven
                            perjudicadas,
                            familias que viven del día a día.
                            Dado a la extensión de la cuarentena, La promoción del Instituto Salesiano Don Bosco,
                            Enexius 20, en
                            conjunto con Don Bosco Fundación Salesiana, se unen para llevar esperanza a esas
                            familias que lo
                            necesitan y dar la oportunidad a aquellas familias estables que desean ser partícipes de
                            esta obra social.</p>
                        <i style="color: #ac1a1a;">~ Si ayudo a una sola persona a tener esperanza, no habré vivido
                            en vano ~ </i>Martin Luther King

                        <BR>
                        <BR>
                        <BR>
                        <BR>

                    </div>
                </div>
            </div>
            <%- include('templates/footer'); -%>
</body>
</html>